body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.AddBookLabel {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 3%;
}

.BookInfoLabel {
    color: black;
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
}

.Labels {
    display: inline-flex;
    width: 100%;
    margin: 10px 10% 10px; 
}

.Inputs {
    display: inline-flex;
    justify-content: space-between;
    margin: 10px 10% 10px; 
}

.BookCategory {
    margin-left: 30%;
}

#BookName {
    width: 300px;  
    height: 30px;  
    border: 1px solid black;  
    padding-left: 8px; 
}

#BookCategory {
    margin-left: 12%;
    width: 300px; 
    height: 30px;  
    border: 1px solid black;  
    padding-left: 8px; 
}

.BookISBN {
    margin-left: 34%;
}

#BookAuthor {
    width: 300px;  
    height: 30px;  
    border: 1px solid black;  
    padding-left: 8px; 
}

#BookISBN {
    margin-left: 12%;
    width: 300px;  
    height: 30px;  
    border: 1px solid black;  
    padding-left: 8px; 
}

.BookCover {
    margin-left: 35.5%;
}

#BookPrice {
    width: 300px;  
    height: 30px;  
    border: 1px solid black;  
    padding-left: 8px; 
}

.AddBookContainer {
    width: 900px;
    overflow: hidden;
    margin: auto;
    margin-top: 5%;
    padding-top: 40px;
    padding-bottom: 5%;
    background-color: #f2f2f2;
    position: relative;
}

.AddCoverContainer {
    width: 400px;
    margin-left: 18%;
    display: flex;
}

#button {
    width: 100px;  
    height: 30px; 
    border: 1px solid black; 
    border-radius: 17px;  
    padding-left: 7px;  
    color: black; 
}

.CoverText {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 10px;
}