<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Book List Management</h2>

        <a href="{% url 'indexbooks' %}">Browse book info</a>
        <a href="{% url 'addbooks' %}">Add book info</a>
        <hr/>


        <h3>Book Management</h3>

        <h4>{{info}}</h4>
             
        </table>
    </center>
    
</body>
</html>