body {
    background-color: rgba(245, 122, 7, 0.5);
}

.Register {
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 900px;
    overflow: hidden;
    margin: auto;
    /* margin: 20 0 0 450px; */
    padding-top: 40px;
    padding-bottom: 132px;
    background-color: white;
    position: relative;
}

.registerLabel {
    color: black;
    font-size: 30px;
    text-align: center;
}

Label{  
    color: black;  
    font-size: 17px;
}

.Email {
    margin: 20px 29% 20px;
}

.Username {
    margin: 20px 29% 20px;
}

.Password {
    margin: 20px 29% 20px;
}

.ConfirmPassword {
    margin: 20px 29% 20px;
}

input[type=text] {
    width: 350px;  
    height: 30px;  
    border: 1px solid black;  
    border-radius: 10px; 
    padding-left: 8px; 
}

input[name=signUpButton] {
    width: 186px;
    height: 40px;
    margin: 0px 75%;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 7px;
    position: relative;
    bottom: -90px;
    color: black;
}

.registerbox {
    margin-top: 10%;
    font-family: arial;
}