body {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.topbar {
    background-color: lightsteelblue;
    color: black;
}

.topbar ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 0px;
}

.topbar ul li{
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 3px solid black;
    transition: background-color 0.25s;
}

.topbar ul li:hover{
    background-color: grey;
    color: lightsteelblue;
}

.banner {
    text-align: center;
}

.nav {
    background-color: lightsteelblue;
    color: black;
}

.nav ul{
    margin: 10px;
    padding: 0px;
    list-style-type: none;
    font-size: 0px;
}

.nav ul li{
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 3px solid black;
    transition: background-color 0.25s;
}

.nav ul li:hover{
    background-color: grey;
    color: lightsteelblue;
}

.loginAndRegister{
    display: flex;
    margin: 100 0 0 100px;
}

.Login{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;
    padding-bottom: 132px;   
    background-color: grey;
      
}  

.Register{
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;   
    background-color: grey;  
}

h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}

.loginLabel{  
    color: lightgrey;  
    font-size: 17px;  
    text-align: center;
}  

.registerLabel{  
    color: lightgrey;  
    font-size: 17px;  
    text-align: center;
} 

Label{  
    color: lightgrey;  
    font-size: 17px;  
}  

#username{  
    width: 350px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  

#password{
    width: 350px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}

#button{  
    width: 300px;  
    height: 30px; 
    margin: 30px; 
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;  
}  

.loginbox{
    margin-left: 10%;
}

.registerbox{
    margin-left: 10%;
    height: 400px;
}

@media screen and (min-width: 700px) {
    .topbar ul{
        text-align: right;
    }

    .topbar ul li{
        display: inline-block;
        border-bottom: 0px;
        border-left: 3px solid black;
        text-align: left;
    }

    .nav ul {
        text-align: center;
    }

    .nav ul li {
        display: inline-block;
        border-bottom: 0px;
        text-align: center;
    }
}

.main {
    text-align: center;
    background-color: lightsteelblue;
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 1000px;
}