<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Account</title>
    <link rel="stylesheet" href="ManageAccount.css" />
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet" />
</head>

<body>
    <h1>Manage your account</h1>
    <div class="Container">
        <div class="user">
            <h4>Name</h4>
        </div>
        <div class="info">Jia Hong</div>
        <div class="user">
            <h4>Email address</h4>
        </div>
        <div class="info">abc@gmail.com</div>
        <div class="user">
            <h4>Password</h4>
        </div>
        <div class="info">********</div>
        <div class="user">
            <h4>Mobile number</h4>
        </div>
        <div class="info">0451512265</div>
    </div>
    <div class="buttonContainer">
        <input type="button" class="Button" id="editButton" value="Edit" />
    </div>
</body>

</html>