<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>User info management</h1>
        <a href="{% url 'indexusers' %}">View info</a> |
        <a href="{% url 'addusers' %}">Add info</a>
        <hr/>

        <h3>Add user info</h3>
        <form action="{% url 'insertusers' %}" method="post">
            {% csrf_token %}
            <table width="280" border="0">
               <tr>
                 <td>Name：</td>
                 <td><input type="text" name="name"/></td>
               </tr>
               <tr>
                 <td>Age：</td>
                 <td><input type="text" name="age"/></td>
               </tr>
               <tr>
                 <td>Phone：</td>
                 <td><input type="text" name="phone"/></td>
               </tr>
               <tr>
                 <td colspan="2" align="center">
                    <input type="submit" value="Add"/>
                    <input type="reset" value="Reset"/>
                 </td>
               </tr>
            </table>
            </form>
    </center>
    
</body>
</html>