<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>User info management</h1>
        <a href="{% url 'indexusers' %}">View info</a> |
        <a href="{% url 'addusers' %}">Add info</a>
        <hr/>

        <h3>View user info</h3>
        <table width="800" border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Addtime</th>
                <th>Operation</th>
            </tr>
            {% for user in userlist %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.addtime}}</td>
                    <td>
                        <a href="{% url 'editusers' user.id %}">edit</a>
                        <a href="{% url 'delusers' user.id %}">delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>