body {
  margin: auto;
  font-size: 18px;
}

.img-col {
  flex-basis: auto;
  padding-right: 20px;
}

img {
  width: 200px;
  height: auto;
}

.Container {
  margin-top: 50px;
  /* top | right | bottom | left */
  padding: 10px 10px 10px 10px;
  background-color: #f2f2f2;
  display: flex;
}

.buttonContainer {
  text-align: right;
}

.Button {
  width: 11rem;
  justify-content: center;
  text-align: center;
  padding: 0.25rem;
  border-radius: 6px;
  outline: none;
  border: 1px solid #1454ca;
  color: white;
  background-color: #1454ca;
  font-size: 1.25rem;
  position: relative;
  top: 35px;
}

.Button:hover {
  cursor: pointer;
}

.Button:active {
  transform: scale(0.97);
}
