{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin system</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'myadmin/bower_components/bootstrap/dist/css/bootstrap.min.css'%}">=
  <link rel="stylesheet" href="{% static 'myadmin/bower_components/font-awesome/css/font-awesome.min.css'%}">
  <link rel="stylesheet" href="{% static 'myadmin/bower_components/Ionicons/css/ionicons.min.css'%}">
  <link rel="stylesheet" href="{% static 'myadmin/dist/css/AdminLTE.min.css'%}">
  <link rel="stylesheet" href="{% static 'myadmin/dist/css/skins/skin-blue.min.css'%}">
  <link rel="stylesheet" href="{% static 'myadmin/local/css/google_fonts.css'%}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <a class="logo">
      <span class="logo-mini"><b>LM</b></span>
      <span class="logo-lg"><b>Library mangement system</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{% static 'myadmin/dist/img/gigachad1.jpg'%}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{request.session.adminuser.nickname}}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="{% static 'myadmin/dist/img/gigachad1.jpg'%}" class="img-circle" alt="User Image">
                <p>
                  {{request.session.adminuser.nickname}} - Admin
                  <small>{{ request.session.adminuser.create_at }}Joined</small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Personal profile</a>
                </div>
                <div class="pull-right">
                  <a href="{% url 'myadmin_logout' %}" class="btn btn-default btn-flat">Logout</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% static 'myadmin/dist/img/gigachad1.jpg'%}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{request.session.adminuser.nickname}}.Admin</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Main menu</li>
        <li class="active"><a href="{% url 'myadmin_index' %}"><i class="fa fa-home"></i> <span>Home</span></a></li>
        <li><a href="{% url 'myadmin_user_index' 1 %}"><i class="fa fa-users"></i> <span>Employee management</span></a></li>
          <li><a href="{% url 'myadmin_category_index' 1 %}"><i class="fa fa-circle-o"></i> <span>Book management</span></a></li>
          </ul>
        </li>

      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    {% block main_body %}
    {% endblock %}
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
  </footer>
  <div class="control-sidebar-bg"></div>
</div>
<div id="edu-alert" class="modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h5 class="modal-title"><i class="fa fa-exclamation-circle"></i> [Title]</h5>
      </div>
      <div class="modal-body small">
        <p>[Message]</p>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-primary ok" data-dismiss="modal">[BtnOk]</button>
        <button type="button" class="btn btn-default cancel" data-dismiss="modal">[BtnCancel]</button>
      </div>
    </div>
  </div>
</div>

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="{% static 'myadmin/bower_components/jquery/dist/jquery.min.js'%}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'myadmin/bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
<!-- AdminLTE App -->
<script src="{% static 'myadmin/dist/js/adminlte.min.js'%}"></script>

<script src="{% static 'myadmin/dist/js/edu-modal-alert-confirm.js'%}"></script>

</script>
</body>
</html>