{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myadmin/local/css/nav.css' %}">
    <title>nav</title>
</head>
<body>
    <div class="nav">
        <h1>Library Management System</h1>
        <ul class="links"> 
            <li class="items">Popular</li>
            <li class="items">Latests</li>
            <li class="items">Books</li>
        </ul>
        <input type='text' id='searchBox' placeholder='Search for book'></input>
        <ul class="login">
            <li class="loginButton">Login</li>
        </ul>
    </div>
</body>
</html>