.formBody {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.formContainer{
    width: 900px;
    max-width: 900px;
    margin: 1rem;
    padding: 2rem;
}

.form {
    background: rgb(242,242,242,1);
    padding: 2rem;
    border-radius: 5px;
    border: 1.5px solid black;
    position: relative;
}

.formTitle {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.inputBlock {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.inputTitle {
    font-size: 1.25rem;
}

.formInput {
    display: block;
    font-size: 1rem;
    margin-top: 0.5rem;
    height: 25px;
    width: 40%;
    padding: 0.25rem;
    outline: none;
    transition: border-color 0.2s;
    border: 2px solid;
    border-radius: 4px;
}

.formInput:focus {
    border-color: #1454ca;
}

.coverImage {
    max-height: 300px;
    position: absolute;
    right: 100px;
    top: 150px;
}

.buttonContainer {
    padding-top: 10rem;
    text-align: center;
}

.formButton {
    width: 20%;
    text-align: center;
    padding: 0.3rem;
    border-radius: 6px;
    outline: none;
    border: 1px solid #1454ca;
    color: white;
    background-color: #1454ca;
    font-size: 1.25rem;
}

.formButton:hover {
    transition: 0.4s;
    transform: scale(1.1);
    cursor: pointer;
}

.formButton:active {
    transform: scale(1);
}

.confirmButton {
    position: relative;
    right: 30%;
}

.cancelButton {
    position: relative;
    left: 30%;
}