.BookContainer {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 50px;
    margin: 10px 20px 10px;
    align-items: center;
    width: 100%;
    height: auto;
    
}
.Books {
    margin: 0px 70px 0px;
}

.Book {
    display: flex;
    width: 12vw;
    height: auto;
}

.Title {
    width: 12vw;
    font-size: 20px;
    overflow-wrap: break-word;
    text-align: center;
}
