.BookContainerItems {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: lightcyan;
    padding-left: 5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll; 
    overflow-y: hidden;
    width: 80%;
    margin-left: 10%;
}


.BookContainerItems::-webkit-scrollbar {
    display: none;
}

.BookContainerItem {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.BookContainerItem:hover {
    transform: scale(1.05);
}