.BookContainerItems {
    display: flex;
    background-color: lightcyan;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto; 
    overflow-y: hidden;
    width: 80vw;
    height: auto;
}


.BookContainerItems::-webkit-scrollbar {
    display: none;
}

.BookContainerItem {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

.BookContainerItem:hover {
    transform: scale(1.05);

}

.BooksAndArrows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Arrows {
    width: 3vw;
    height: 5vw;
}