.Categories {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10% 30px;
}

.CategoryImage{
    width: 100%;
    height: auto;
    padding: 10px 15px
}

.CategoryImage:hover {
    cursor: pointer;
}

.CategoryImage:active {
    transform: scale(0.90);
}