.CategoryLabel{
    font-size: 50px;
    margin-left: 200px;
}

.PopularLabel {
    font-size: 40px;
    margin-left: 100px;
}

.Categories {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10% 0;
}

.CategoryImage{
    padding: 10px 15px
}

.CategoryImage:hover {
    cursor: pointer;
}
