.searchContainer {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

#searchBar {
    width: 40%;
    height: 70px;
    border-radius: 10px;
    border: 1px black solid;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
}