<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="AddBookStyle.css"> 
    <title>Add Book</title>
</head>
<body>
    <div class="AddBookLabel">Add Book</div>
    <div class="AddBookContainer">
        <div class="BookInfoLabel">Book Information</div>
        <div class="BookNameAndCategory">
            <div class="Labels">
                <div class="Label">book Name</div>
                <div class="Label">Category</div>
            </div>
            <div class="Inputs">
                <input type="text" name="BookName" id="input" placeholder="Enter the book's name here">
                <input type="text" name="BookCategory" id="input" placeholder="Enter the book's category here">
            </div>
        </div>
        <div class="BookAuthorAndISBN">
            <div class="Labels">
                <div class="Label">Author</div>
                <div class="Label">ISBN</div>
                
            </div>
            <div class="Inputs">
                <input type="text" name="BookAuthor" id="input" placeholder="Enter the book's author here">
                <input type="text" name="BookISBN" id="input" placeholder="Enter the book's ISBN here">
            </div>
        </div>
        <div class="BookPriceAndCover">
            <div class="Labels">
                <div class="Label">Price</div>
                <div class="Label">Cover</div>
            </div>
            <div class="Inputs">
                <input type="text" name="BookPrice" id="input" placeholder="Enter the book's Price here">
                <div class="AddCoverContainer">
                    <input type="button" name="button" id="button" value="Add Cover">
                    <div class="CoverText">test</div>
                </div>
            </div>
        </div>
    </div>
    <div class="submit">
        <input type="button" class="submitButton" name="submitButton" id="submitButton" value="Submit">
    </div>
</body>
</html>